* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  color: #444;
  line-height: 1.5;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 160%;
}

.p5js-container {
  position: absolute;
  width: 200px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.img-container {
  /* display: inline; */
  margin: 0;
  /* flex: 1; */
  width: 100%;
}

.img-container img {
  /* box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.55); */
  box-shadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.55);
  border-radius: 2px;
}

nav,
footer {
  background-color: white;
}

footer {
  /* height: 800vh; */
  position: relative;
  text-align: center;
  /* overflow-y: hidden; */
}

.footer-heading {
  padding-top: 10vh;
  margin-bottom: 20vh;
  padding-left: 10px;
  padding-right: 10px;
}

.upper-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
}

.top-social,
.bottom-social {
  display: flex;
  justify-content: space-around;
}

.top-social {
  margin-bottom: 20vh;
}

.social-img-wrap img {
  /* max-width: 100px; */
  max-height: 80px;
  /* width: 100%; */
}
.social-img-wrap .social-img-link,
.social-img-wrap a  {
  color: #215d9c;
  transition: 0.3s;
}

.social-img-wrap .social-img-link:hover {
  /* filter: brightness(50%);
  filter: grayscale(60%);
  filter: drop-shadow(10px 10px 4px rgba(50,50,50,0.3)); */
  filter: drop-shadow(0 0 0.4rem rgba(50,50,50,0.3));
  /* filter:blur(1px); */
  
}

.social-text a:hover {
  filter: brightness(160%);

}

.social-text h2 {
  margin-bottom: 3px;
}

.social-text p {
  margin: 0;
  font-weight: 100;

  /* text-align: start; */
}
.social-text {
  width: 380px;
}

@media screen and (max-width: 768px) {
  .top-social,
  .bottom-social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .top-social {
    margin-bottom: 0;
  }
  .social-img-wrap {
    margin-bottom: 60px;
  }

  .social-text {
    width: unset;
  }
}

.max-width-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

footer ul {
  padding: 0;
}

footer .icons-media {
  margin: 0;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.below-main-footer {
  height: 20vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.below-main-footer .social-media {
  position: absolute;
  bottom: 0;
}

.social-media p {
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #464f6091;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
}

.nav-links-wrapper {
  display: flex;
  justify-content: space-between;
}

.nav-links-wrapper::before {
  content: “ ”;
  background: inherit;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
  filter: blur(10px);
}

.nav-links-left,
.nav-links-right {
  padding: 0;
  margin: 1% 0;
  list-style: none;
}

.nav-links-right {
  display: flex;
}

.nav-links li {
  margin: 0 0.5rem;
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
  color: white;
}

.nav-links a:hover {
  color: rgb(190, 190, 190);
}

header {
  /* padding: 12% 0; */
  display: flex;
  flex-direction: column;

  /* min-height: 100vh; */
  /* position: relative; */
  padding-top: 30vh;
  text-align: center;
}

#header-page-content {
  flex: 1;
}

header ul {
  list-style: none;
  padding: 0;
}

header h1 {
  line-height: 1.2;
  margin: 0 0 15px;
  font-size: 3.3rem;
}

header h5 {
  font-size: 1.5rem;
  font-weight: 100;
}

header h1,
header h5 {
  color: #333333;

  animation-delay: -0.5s;
  animation: fadein 1s;
}

div .social-media {
  text-align: center;
}

header .icons-media {
  /* position: absolute;
  bottom: 56px;
  left: 0px;
  right: 0px; */
}

footer .icons-media {
  position: relative;
  bottom: 56px;
  left: 0px;
  right: 0px;
}

.icons-media li {
  display: inline;
  font-size: 2rem;
  padding: 0.5%;
  animation: fontbulger 1s;

  /* display: flex;
  width: 50px;
  justify-content: center;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: -6px 6px 9px #b3b3b3;
  animation: fontbulger 1s; */
}

.icons-media li a {
  color: black;
}

.linkedin:hover {
  color: #0077b5;
  cursor: pointer;
  transition: all 0.4s;
}

.github:hover {
  color: #62287f;
  cursor: pointer;
  transition: all 0.4s;
}

.email:hover {
  color: #d54d40;
  cursor: pointer;
  transition: all 0.4s;
}

section {
  min-height: 200px;
  padding: 6% 0;
}

.about-headline,
.portfolio-headline {
  text-align: center;
  margin: 5rem 0 170px 0;
}

#portfolio {
  /* margin-bottom: 30vh; */
}

.portfolio-img-box {
  /* max-width: 1600px; */
  margin: 0 auto;
}

.bio-page {
  padding: 12% 7%;
  /* height: 100vh;
  position: relative; */
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.01)
  );
  z-index: 0;
}

.bio-page p {
  max-width: 500px;
  margin: 0 auto;
}

.portfolio-pg-container {
  padding: 1.5rem;
  /* padding: 20px; */
}

.portfolio-img {
  position: relative;
  margin-bottom: 8rem;
}
.portfolio-img img {
  width: 100%;
}

.project-title {
  margin: 2rem 0 0.5rem 0;
  /* margin: 0 0 0.5rem 0; */
  font-size: 22px;
}

.about-headline,
.portfolio-headline {
  font-size: 36px;
}

.tech-icons {
  font-size: 2rem;
  /* max-height: 2rem; */
}

description {
  margin-top: 0.5rem;
}

img.center {
  display: block;
  margin: 0 auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes fontbulger {
  0% {
    font-size: 0.1vh;
    opacity: 0;
  }
  80% {
    font-size: 2vh;
    opacity: 0.2;
  }
  100% {
    font-size: 5vh;
    opacity: 1;
  }
}
@media screen and (min-width: 480px) {
  header .icons-media {
    /* position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px; */
  }

  p {
    font-size: 20px;
  }

  .nav-links-wrapper {
    font-size: 20px;
  }
}

@media screen and (min-width: 900px) {
  /* @media screen and (min-width: 768px) { */
  header h1 {
    font-size: 5.5rem;
  }
  header h5 {
    font-size: 2rem;
  }

  .portfolio-img {
    display: flex;
  }

  .about-headline,
  .portfolio-headline {
    font-size: 36px;
  }

  .project-title {
    margin: 0 0 0.5rem 0;
    font-size: 30px;
  }

  .project-info {
    width: 50%;
    padding-left: 30px;
    margin: auto 0;
    /* flex-grow: 2; */
  }

  .img-container {
    /* display: inline; */
    margin: 0;
    /* flex: 1; */
    width: 50%;
  }

  .portfolio-img img {
    margin: 0;
  }
}

.app-link {
  font-weight: bold;
  font-size: 1.4rem;
  color: rgb(49, 97, 136);
  transition: 0.3s;
}

.app-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(55, 145, 218);
}
